<div layout-margin>
  <md-card ng-repeat="entry in question.resources">
    <img ng-src="{{image.trans_cover}}"
         class="md-card-image img-center"
         style="background-image:
                url({{entry.src}})"
         alt="{{$index}}"
         ng-click="edit(question, entry)">
    <md-card-actions layout="row"
                     layout-align="end center">
      <md-button class="md-icon-button"
                 aria-label="{{_('Remove')}}"
                 ng-click="remove_res(question, entry)">
        <md-icon md-svg-icon="ic_clear_24px"></md-icon>
      </md-button>
      <span flex></span>
      <!-- <md-button class="md-icon-button"
                 aria-label="{{_('Up')}}"
                 ng-click="move_res_up(question, entry)">
        <md-icon md-svg-icon="ic_arrow_drop_up_24px"></md-icon>
      </md-button>
      <md-button class="md-icon-button"
                 aria-label="{{_('Down')}}"
                 ng-click="move_res_down(equestion, entry)">
        <md-icon md-svg-icon="ic_arrow_drop_down_24px"></md-icon>
      </md-button> -->
      <md-button class="md-icon-button"
                 aria-label="{{_('Edit')}}"
                 ng-click="edit_res(question, entry)">
        <md-icon md-svg-icon="ic_create_24px"></md-icon>
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card class="md-padding"
           ng-if="question.resources.length <= 0"
           ng-click="edit_res(question, entry)">
    <md-card-title>
      <md-card-title-text layout="row"
                          layout-align="center center">
        <span class="md-headline tip">{{_('Empty')}}</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>

  <div class="md-padding"
       layout="row"
       layout-align="center center">
    <md-button class="btn md-primary"
               ng-click="edit_res(question, entry)">
      {{_('Add New Resource')}}
    </md-button>
  </div>

</div>