<div layout-margin>
  <md-card ng-repeat="entry in question.resources"
           ng-click="edit_res(question, entry)">
    <md-card-title>
      <md-card-title-text>
        <span class="md-body-2">{{entry.tip}}</span>
        <span class="md-subhead">{{entry.answer}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm res-media">
          <img class="img-cover"
               style="background-image:url({{entry.src}})"
               ng-src="{{image.trans}}"
               alt="{{$index}}">
        </div>
      </md-card-title-media>
    </md-card-title>
  </md-card>

  <md-card class="md-padding"
           ng-if="question.resources.length <= 0"
           ng-click="edit_res(question, entry)">
    <md-card-title>
      <md-card-title-text layout="row"
                          layout-align="center center">
        <span class="md-headline tip">{{_('Empty')}}</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>

  <div class="md-padding"
       layout="row"
       layout-align="center center">
    <md-button class="btn md-primary"
               ng-click="edit_res(question, entry)">
      {{_('Add New Resource')}}
    </md-button>
  </div>

</div>