<form name="info_form"
      ng-submit="save()"
      layout="column"
      layout-margin
      novalidate>

  <md-input-container>
    <label>{{_('Title')}}</label>
    <input name="title"
           type="text"
           ng-model="question.title"
           md-maxlength="30"
           required/>
    <ng-messages ng-if="info_form.title.$touched"
                 for="info_form.title.$error">
      <ng-message when="required">
        {{ _('This is required.') }}
      </ng-message>
      <ng-message when="md-maxlength">
        {{ _('It is too long.') }}
      </ng-message>
    </ng-messages>
  </md-input-container>

  <md-input-container class="select-container ignore-md-icon">
    <label>{{_('Type')}}</label>
    <md-select name="type"
               ng-model="question.type"
               ng-disabled="!is_new"
               required>
      <md-option ng-repeat="type in question_types"
                 ng-value="{{type.key}}">
        {{_(type.name)}}
      </md-option>
    </md-select>
    <ng-messages ng-if="info_form.type.$touched"
                 for="info_form.type.$error">
      <ng-message when="required">
        {{ _('This is required.') }}
      </ng-message>
    </ng-messages>

    {% include '_qs_info_help.html' %}

    <p class="md-caption tip"
       ng-click="help('question_help.tmpl.html')">
      <span>
        {{_('Question type define how is the question work. '+
            'Can not be modified after the save.')}}
      </span>
      <md-icon class="ico"
               md-svg-icon="ic_help_24px"></md-icon>
    </p>
  </md-input-container>

  <md-input-container>
    <label>{{_('Description')}}</label>
    <textarea name="desc"
              ng-model="question.description"
              md-maxlength="360"></textarea>
    <ng-messages ng-if="info_form.desc.$touched"
                 for="info_form.desc.$error">
      <ng-message when="md-maxlength">
        {{ _('It is too long.') }}
      </ng-message>
    </ng-messages>
  </md-input-container>

  <div layout="column"
       layout-margin>
    <md-switch ng-model="show_scripts"
               ng-disabled="!scripts"
               aria-label="{{_('Scripts')}}">
      <span ng-class="{'t33': !scripts}">
        {{_('Show Plugin Scripts')}}
      </span>
    </md-switch>
    <textarea class="scripts"
              ng-show="show_scripts">{{scripts}}</textarea>
  </div>

  <div layout="row">
    <md-button class="btn md-raised md-primary"
               ng-disabled="submitted"
               type="submit">
      {{_('Save')}}
    </md-button>

    <span flex></span>
    <md-button class="md-icon-button"
               aria-label="{{_('Trash')}}"
               ng-disabled="submitted"
               ng-show="!is_new"
               ng-click="trash()"
               type="button">
      <md-icon md-svg-icon="ic_delete_24px"></md-icon>
    </md-button>
  </div>

</form>