<script type="text/ng-template" id="question_help.tmpl.html">
  <header>
    <h3 class="md-display-1">
      {{_('There is couple differnt type you should know')}}
    </h3>
  </header>
  <div>
    <h4 class="md-title">{{_('Photo')}}</h4>
    <p>
      {{_('People must click the right spot on this photo. '+
          'The *Tip* field will tell people where to click '+
          'on the photo.')}}
    </p>
  </div>
  <md-divider></md-divider>
  <div>
    <h4 class="md-title">{{_('Reading')}}</h4>
    <p class="md-body-1">
      {{_('People must Reading the photo then give a right answer. '+
          'The *Tip* field will tell people where to look at '+
          'on the photo, and you have to put the right answer '+
          'into *Answer* field.')}}
    </p>
  </div>
  <!-- <div>
    <h4 class="md-title">{{_('Slide')}}</h4>
    <p class="md-body-1">
      {{_('People must slide the object to the right position. '+
          'The *Tip* field will tell people where to go.')}}
    </p>
  </div>
  <md-divider></md-divider>
  <div>
    <h4 class="md-title">{{_('Jigsaw')}}</h4>
    <p class="md-body-1">
      {{_('People must move the piece to finish the puzzle. '+
          'The *Tip* field will tell people what to do.')}}
    </p>
  </div> -->

</script>