<div layout-margin>
  <md-card ng-repeat="entry in question.resources"
           ng-click="edit_res(question, entry)">
    <md-card-content layout="row">
      <div flex>
        <h3 class="md-body-1 text-nowrap">
          {{_('Tip:')}} {{entry.tip}}
        </h3>
        <p class="md-caption text-nowrap"
           ng-if="entry.answer">
          {{_('Answer:')}} {{entry.answer}}
        </p>
      </div>
      <div class="res-media">
        <img class="img-cover"
             style="background-image:url({{entry.src}})"
             ng-src="{{image.trans}}"
             alt="{{$index}}">
      </div>
    </md-card-content>
  </md-card>

  <md-card class="md-padding"
           ng-if="question.resources.length <= 0"
           ng-click="edit_res(question, entry)">
    <md-card-title>
      <md-card-title-text layout="row"
                          layout-align="center center">
        <span class="md-headline tip">{{_('Empty')}}</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>

  <div class="md-padding"
       layout="row"
       layout-align="center center">
    <md-button class="btn md-primary"
               ng-click="edit_res(question, entry)">
      {{_('Add New Resource')}}
    </md-button>
  </div>

</div>