<md-content class="md-padding">
  <form name="res_form"
        ng-submit="save()"
        layout="column"
        layout-margin
        novalidate>

    <p ng-if="match_type('photo', resource_type)">
      {{_('People must click the right spot on this photo. '+
          'The *Tip* field will tell people where to click on the photo.')}}
    </p>
    <p ng-if="match_type('reading', resource_type)">
      {{_('People must Reading the photo then give a right answer. '+
          'The *Tip* field will tell people where to look at on the photo, '+
          'and you have to put the right answer into *Answer* field.')}}
    </p>
    <p ng-if="match_type('slide', resource_type)">
      {{_('People must slide the object to the right position. '+
          'The *Tip* field will tell people where to go. ')}}
    </p>
    <p ng-if="match_type('jigsaw', resource_type)">
      {{_('People must move the piece to finish the puzzle. '+
          'The *Tip* field will tell people what to do, ')}}
    </p>


    <md-input-container>
      <label>{{_('Tip')}}</label>
      <input name="tip"
             type="text"
             ng-model="resource.tips"
             md-maxlength="60"
             required/>
      <ng-messages ng-if="res_form.tip.$touched"
                   for="res_form.tip.$error">
        <ng-message when="required">
          {{ _('This is required.') }}
        </ng-message>
        <ng-message when="md-maxlength">
          {{ _('It is too long.') }}
        </ng-message>
      </ng-messages>
    </md-input-container>

    <md-input-container ng-if="match_type('reading', resource_type)">
      <label>{{_('Answer')}}</label>
      <input name="answer"
             type="text"
             ng-model="resource.answer"
             md-maxlength="60"
             required/>
      <ng-messages ng-if="res_form.answer.$touched"
                   for="res_form.answer.$error">
        <ng-message when="required">
          {{ _('This is required.') }}
        </ng-message>
        <ng-message when="md-maxlength">
          {{ _('It is too long.') }}
        </ng-message>
      </ng-messages>
    </md-input-container>

  </form>

  <div ng-if="!resource.src"
       layout-margin>
    <p class="md-caption tip">
      {{_('* Please select one image from media repository. '+
          'Make a hot spot by dragging the image handle.')}}
    </p>
  </div>
  <md-card class="recipe-card"
           ng-if="resource.src">
    <md-card-content layout="column"
                     layout-align="center center"
                     flex>
      <div class="recipe-editor"
           bagua-image-editor
           img-src-url="resource.src"
           img-recipe="resource.recipe">
      </div>
    </md-card-content>
  </md-card>

  <md-card class="recipe-card"
           ng-if="!resource.src"
           ng-click="tab(1)">
    <md-card-content layout="column"
                     layout-align="center center"
                     flex>
      <md-icon class="s48"
               md-svg-icon="ic_photo_24px"></md-icon>
    </md-card-content>
  </md-card>

</md-content>