<div class="view-animate">
  <div layout-gt-sm="row">

    <section flex-gt-sm="50"
             layout-padding>
      <!-- section header -->
      <header layout-margin>
        <h2 class="md-title">
          {{_('Question')}}
        </h2>
      </header>

      <!-- info -->
      {% include '_qs_info.html' %}

    </section>

    <section flex-gt-sm="45"
             layout-padding>

      <!-- section header -->
      <header layout-margin>
        <h2 class="md-title">
          {{_('Resources')}}
        </h2>
      </header>

      <!-- resouces -->
      {% include '_qs_res.html' %}

    </section>

  </div>
</div>