<md-dialog aria-label="{{_('Resource')}}">
  <md-toolbar class="md-hue-3 bg-trans">
    <div class="md-toolbar-tools">
      <span>
        {{
          resource._new
          ?_('Add %s Resource', resource_type.name)
          :_('Edit %s Resource', resource_type.name)
        }}
      </span>
      <span flex></span>
      <md-button class="md-icon-button"
                 aria-label="{{_('Close')}}"
                 ng-click="close()">
        <md-icon md-svg-icon="ic_close_24px">
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content"
                     flex>
    <md-tabs md-selected="selected_tab"
             md-dynamic-height>

      <md-tab label="{{_('Recipe')}}">
        {% include '_res_edit_recipe.html' %}
      </md-tab>

      <md-tab label="{{_('Media Repository')}}">
        {% include '_res_edit_media.html' %}
      </md-tab>

    </md-tabs>
  </md-dialog-content>
  <md-dialog-actions
       layout="row"
       layout-align="end center"
       flex-order="3">
    <md-button class="md-icon-button"
               aria-label="{{_('Trash')}}"
               ng-show="!resource._new"
               ng-click="trash(resource)">
      <md-icon md-svg-icon="ic_delete_24px"></md-icon>
    </md-button>
    <span flex></span>
    <md-button class="btn md-primary"
               ng-click="save(resource)">
      {{_('Save')}}
    </md-button>
  </md-dialog-actions>
</md-dialog>