<!doctype html>
<html lang="{{lang}}"
      ng-app="throwCat">
<head>
  <title ng-bind="_('throwCat()')"></title>
  <meta name="robots"
        content="noindex, nofollow">

  <meta http-equiv="content-type"
        content="text/html;charset=utf-8">

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <meta name="apple-mobile-web-app-capable"
        content="yes">

  <meta name="apple-mobile-web-app-status-bar-style"
        content="black">

  <meta name="format-detection"
        content="telephone=yes">

  <meta name="X-UA-Compatible"
        content="IE=edge">

  <meta name="renderer"
        content="webkit">

  <!-- build:[href] favicon.png -->
  <link rel="shortcut icon"
        href="styles/favicon.png">
  <!-- /build-->
  <!-- build:[href] touch_icon.png -->
  <link rel="apple-touch-icon-precomposed"
        href="styles/touch_icon.png"
        sizes="144x144">
  <!-- /build-->

  <!-- build:css app.min.css?md5=null -->
  <link rel="stylesheet"
        href="styles/fonts/md-fonts.css">
  <link rel="stylesheet"
        href="styles/angular-material.css" />
  <link rel="stylesheet"
        href="styles/ui.css">
  <!-- /build-->
  <!-- build:css locale.min.css?md5=null -->
  <link rel="stylesheet"
        href="languages/locales.css">
  <!-- /build-->
</head>
<body layout="row">

  <!-- ng-templates -->

  <ng-include src="'blueprints/common/views/mainnav.tmpl.html'"
              ng-controller="mainNavCtrl"
              layout="column">
  </ng-include>

  <div flex layout="column">
    <ng-include src="'blueprints/common/views/topnav.tmpl.html'"
                ng-controller="topNavCtrl">
    </ng-include>
    <md-content class="ng-view"
                layout="column"
                flex>
    </md-content>
  </div>

  <!-- build:js server_conf.js?md5=null -->
  {% include '_conf_.html' %}
  <!-- /build-->

  <!-- build:js app.min.js?md5=null -->
  {% include 'scripts/_r_app_.html' %}
  {% include 'blueprints/_r_scripts_.html' %}
  <!-- /build-->
  <!-- build:js locale.min.js?md5=null -->
  {% include 'languages/_r_scripts_.html' %}
  <!-- /build-->
</body>
</html>
