.DS_Store
.idea
npm-debug.log
*_book
*.pyc
server_conf.js

.tmp
trash

/node_modules
/bower_components
/dist
/release
/build

/**/node_modules
/**/dist
/**/build
/**/release

/db/mongo_data
/db/dump.rdb

*.sublime*

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
