<md-toolbar class="md-hue-3 top-nav">
  <div class="md-toolbar-tools">
    <!-- nav menu -->
    <div layout="row"
         layout-align="center center">
      <md-button class="md-icon-button"
                 aria-label="{{_('Toggle main nav')}}"
                 ng-click="toggle_nav('main_nav')">
        <md-icon md-svg-icon="ic_menu_24px"></md-icon>
      </md-button>
      <span>ThrowCat</span>
    </div>

    <div flex></div>

    <div layout="row"
         layout-align="center center">
      <!-- language menu -->
      <md-menu md-offset="0 -5">
        <md-button aria-label="{{_('Language')}}"
                   class="md-icon-button"
                   ng-click="$mdOpenMenu($event)">
          <md-icon md-svg-icon="ic_language_24px"
                   md-menu-origin>
          </md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item ng-repeat="locale in locales">
            <md-button ng-click="use_lang(locale)"
                       ng-disabled="is_current_lang(locale)">
              {{ locale.text }}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

  </div>
</md-toolbar>