<div class="view-animate">
  <div>
    <section layout-padding>
      <!-- section header -->
      <header layout-margin>
        <h2 class="md-title">
          {{_('Media')}}
        </h2>
      </header>

      <!-- media -->
      <div class="md-margin">

        <md-list>
          <md-subheader class="md-no-sticky">
            <span ng-bind-html="_('You have <span class=text-primary>'+
                               '%s</span> media.', mediafiles.length)">
            </span>
          </md-subheader>
          <md-divider></md-divider>
          <!-- items -->
          <div class="anim-item"
               ng-repeat="media in mediafiles">
            <md-list-item class="md-2-line"
                          ng-class="{'selected': media._seleted}"
                          ng-click="select(media)">
              <div class="md-list-item-text"
                   layout="column">
                <h3 class="text-nowrap"
                    vw-max="65">
                  {{ media.title }}
                </h3>
                <p class="text-nowrap"
                   vw-max="65">
                  {{ media.time }}
                </p>
              </div>
              <md-icon md-svg-icon="ic_event_24px">
              </md-icon>
            </md-list-item>
          </div>
        </md-list>

      </div>
    </section>
  </div>
  <!-- add -->
  <md-button class="md-accent md-fab md-fab-bottom-right fixed"
             aria-label="{{_('Add')}}">
    <md-icon md-svg-icon="ic_add_24px"></md-icon>
  </md-button>
</div>