<div class="view-animate">
  <div>
    <section layout-padding>
      <!-- section header -->
      <header layout-margin>
        <h2 class="md-title">
          {{_('Media')}}
        </h2>
      </header>

      <!-- media -->
      <div class="md-margin">

        <md-list>
          <md-subheader class="md-no-sticky">
            <span ng-bind-html="_('You have %s media.',
                                mediafiles.length)">
            </span>
          </md-subheader>
          <md-divider></md-divider>
          <!-- items -->
          <div class="anim-item"
               ng-repeat="media in mediafiles">
            <md-list-item class="md-2-line"
                          ng-class="{'md-whiteframe-1dp': media._seleted,
                                     'bg-dark': media._seleted}"
                          ng-click="select(media)">
              <img class="md-avatar"
                 ng-src="{{media.thumbnail}}"
                 ng-click="open(media, $event)"
                 ng-class="{'t50':media._seleted}"
                 alt="{{media.filename}}"/>
              <div class="md-list-item-text"
                   layout="column">
                <p class="text-nowrap"
                   vw-max="60">
                  {{ media.filename }}
                </p>
              </div>
            </md-list-item>
          </div>
        </md-list>

      </div>
    </section>
  </div>
  <!-- fab -->
  <div class="fab-container-fixed">
    <md-button class="md-accent md-fab md-fab-bottom-right"
               aria-label="{{_('Upload New Media')}}"
               ngf-select="onFileSelect($files)"
               data-multiple="true"
               accept="{{mimetypes_str}}"
               ng-disabled="upload_status == 1">

      <md-icon md-svg-icon="ic_file_upload_24px"
               ng-show="upload_status != 1"></md-icon>

      <md-icon md-svg-icon="ic_cached_24px"
               class="rotating noleave"
               ng-show="upload_status == 1"></md-icon>

    </md-button>
    <md-button class="md-accent md-fab md-fab-bottom-right"
               aria-label="{{_('Upload New Media')}}"
               ngf-select="onFileSelect($files)"
               data-multiple="true"
               accept="{{mimetypes_str}}"
               ng-disabled="upload_status == 1">

      <md-icon md-svg-icon="ic_file_upload_24px"
               ng-show="upload_status != 1"></md-icon>

      <md-icon md-svg-icon="ic_cached_24px"
               class="rotating noleave"
               ng-show="upload_status == 1"></md-icon>

    </md-button>
  </div>

</div>