<div class="view-animate">
  <div>
    <section layout-padding>
      <!-- section header -->
      <header layout-margin>
        <h2 class="md-title">
          {{_('Media')}}
        </h2>
      </header>

      <!-- media -->
      <div class="md-margin">

        <md-list>
          <md-subheader class="md-no-sticky">
            <span ng-bind-html="_('You have %s media.',
                                mediafiles.length)">
            </span>
          </md-subheader>
          <md-divider></md-divider>
          <!-- items -->
          <div class="anim-item"
               ng-repeat="media in mediafiles|paginator:paged">
            <md-list-item class="md-2-line"
                          ng-class="{'md-whiteframe-1dp': media._selected,
                                     'bg-dark-trans': media._selected}"
                          ng-click="select(media, mediafiles)"
                          ng-disabled="upload_status == 1">
              <img class="md-avatar"
                 ng-src="{{media.thumbnail}}"
                 ng-click="open(media, $event)"
                 alt="{{media.filename}}"/>
              <div class="md-list-item-text"
                   layout="column">
                <p class="text-nowrap"
                   vw-max="60">
                  {{ media.filename }}
                </p>
              </div>
            </md-list-item>
          </div>
          <!-- more -->
          <div class="anim-item"
               ng-show="has_more(mediafiles, paged)">
            <md-list-item class="md-2-line"
                          ng-click="more(mediafiles, paged)">
              <div class="md-avatar"
                   layout="row"
                   layout-align="center center">
                <md-icon class="md-primary"
                         md-svg-icon="ic_expand_more_24px"></md-icon>
              </div>
              <div class="md-list-item-text"
                   layout="column">
                <p class="text-nowrap"
                   vw-max="60">
                  {{_('More')}}
                </p>
              </div>
            </md-list-item>
          </div>
        </md-list>
      </div>

    </section>
  </div>

  <!-- overlay -->
  <md-toolbar class="bg-dark show-hide fixed-top"
              ng-show="has_selected">
    <div class="md-toolbar-tools">
      <!-- nav menu -->
      <div layout="row"
           layout-align="center center">
        <md-button class="md-icon-button"
                   aria-label="{{_('Cancel')}}"
                   ng-click="clean_selected(mediafiles)">
          <md-icon md-svg-icon="ic_arrow_back_24px"></md-icon>
        </md-button>
      </div>

      <div flex></div>

      <div layout="row"
           layout-align="center center">
        <md-button class="md-icon-button"
                   aria-label="{{_('Trash')}}"
                   ng-click="trash_selected(mediafiles)">
          <md-icon md-svg-icon="ic_delete_24px"></md-icon>
        </md-button>
      </div>

    </div>
  </md-toolbar>

  <md-button class="md-accent md-fab md-fab-bottom-right fixed"
             aria-label="{{_('Upload New Media')}}"
             ngf-select="onFileSelect($files, mediafiles)"
             data-multiple="true"
             accept="{{mimetypes_str}}"
             ng-disabled="upload_status == 1">

    <md-icon md-svg-icon="ic_file_upload_24px"
             ng-show="upload_status != 1"></md-icon>

    <md-icon md-svg-icon="ic_cached_24px"
             class="rotating noleave"
             ng-show="upload_status == 1"></md-icon>

  </md-button>

</div>