<div class="view-animate"
     layout="column"
     layout-margin
     layout-padding
     flex>
  <div layout="row"
       layout-align-gt-sm="center center"
       flex="{{checked?'none':''}}">
    <section flex-gt-sm="60"
             flex>
      <!-- section header -->
      <header>
        <h1 class="md-display-1">
          {{_('Recovery')}}
        </h1>
      </header>
      <!-- captcha -->
      <form name="check_form"
            layout="column"
            ng-show="!checked"
            ng-submit="check()"
            novalidate>

        <md-input-container>
          <label>{{_('Email for Account')}}</label>
          <input name="login"
                 type="email"
                 ng-model="rec.login"
                 ng-disiabled="checked"
                 required />
          <ng-messages ng-if="check_form.login.$touched"
                       for="check_form.login.$error">
            <ng-message when="email">
              {{ _('Must be an email address.') }}
            </ng-message>
            <ng-message when="required">
              {{ _('This is required.') }}
            </ng-message>
          </ng-messages>
        </md-input-container>

        <md-input-container layout="column"
                            layout-gt-xs="row"
                            layout-align-gt-xs="center center">

          <md-button class="btn md-raised md-accent"
                     ng-disabled="submitted"
                     type="submit">
            {{_('Check')}}
          </md-button>
          <span class="md-padding" flex></span>
          <md-button class="btn"
                     ng-disabled="submitted"
                     ng-href="/#/login">
            {{_('Go back to Login')}}
          </md-button>

        </md-input-container>
      </form>

      <!-- recovery -->
      <form name="rec_form"
            layout="column"
            ng-show="checked"
            ng-submit="recovery()"
            novalidate>
        <div>
          <p>
            {{_('An Recovery code has been sent to %s.', rec.login)}}
          </p>
        </div>

        <div layout="column"
             layout-gt-xs="row">
          <md-input-container flex>
            <label>{{_('Enter the Recovery captcha')}}</label>
            <input name="captcha"
                   type="text"
                   ng-model="rec.captcha"
                   required/>
            <ng-messages ng-if="rec_form.captcha.$touched"
                         for="rec_form.captcha.$error">
              <ng-message when="required">
                {{ _('This is required.') }}
              </ng-message>
            </ng-messages>
          </md-input-container>

          <md-input-container flex>
            <md-button class="btn"
                       ng-disabled="submitted"
                       ng-click="captcha()"
                       type="button">
              {{_('Get Captcha Again')}}
            </md-button>
          </md-input-container>
        </div>


        <div layout="column"
             layout-gt-xs="row">
          <md-input-container flex>
            <label>{{_('New Password')}}</label>
            <input name="passwd"
                   type="password"
                   ng-model="rec.passwd"
                   maxlength="50"
                   ng-pattern="input_pattern.passwd"
                   required/>
            <ng-messages ng-if="rec_form.passwd.$touched"
                         for="rec_form.passwd.$error">
              <ng-message when="required">
                {{ _('This is required.') }}
              </ng-message>
              <ng-message when="pattern">
                {{ _('It is invalid.') }}
              </ng-message>
            </ng-messages>
          </md-input-container>
          <md-input-container flex>
            <label>{{_('Confirm Password')}}</label>
            <input name="passwd2"
                   type="password"
                   maxlength="50"
                   ng-model="rec.passwd2"
                   password-verify='rec.passwd'
                   required/>
            <ng-messages ng-if="rec_form.passwd2.$touched"
                         for="rec_form.passwd2.$error">
              <ng-message when="required">
                {{ _('This is required.') }}
              </ng-message>
              <ng-message when="passwordVerify">
                {{ _('The password confirmation does not match.') }}
              </ng-message>
            </ng-messages>
          </md-input-container>
        </div>

        <md-input-container layout="column"
                            layout-gt-xs="row"
                            layout-align-gt-xs="center center">

          <md-button class="btn md-raised md-accent"
                     ng-disabled="submitted"
                     type="submit">
            {{_('Recovery')}}
          </md-button>
          <span class="md-padding" flex></span>
          <md-button class="btn"
                     ng-disabled="submitted"
                     ng-href="/#/login">
            {{_('Go back to Login')}}
          </md-button>
        </md-input-container>

      </form>
    </section>
  </div>
</div>